<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="text-center">{{pageTitle}}</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Filtrar por:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter'>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h3>Filtrado por: {{ listFilter }} </h3>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>
            <button class="btn btn-primary" (click)='toggleImage()'>
              {{showImage ? 'Ocultar ':'Mostrar '}} ID
            </button>
          </th>
          <th>Nombre:</th>
          <th>Apellido:</th>
          <th>Identificacion:</th>
          <th>Tipo:</th>
          <th>Fecha Registro:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of filteredUsuarios">
          <td>
            <p class="text-center" *ngIf='showImage'>
              {{usuario.id_usuario}}
            </p>
          </td>
          <td>
            <a [routerLink]="[usuario.id_usuario]">
              {{ usuario.nombre }}
            </a>
          </td>
          <td>{{usuario.apellido}}</td>
          <td>{{usuario.identificacion}}</td>
          <td>{{usuario.tipo}}</td>
          <td>{{usuario.fecha_registro}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>